/* color palette from <https://github.com/vuejs/theme> */
:root {
  --halister-theme-white: #ffffff;
  --halister-theme-lightgray: #626262;
  --halister-theme-darkgray: #2d2d2d;
  --halister-theme-yellow: #f2c60f;
  --halister-theme-darkyellow: #d49a0e;

  --color-text-dark: var(--halister-theme-darkgray);
  --color-text-light: var(--halister-theme-white);
  --color-highlight: var(--halister-theme-yellow);
  --color-background: var(--halister-theme-darkgray);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  background: var(--halister-theme-darkgray);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "SourceSans", sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
